/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "../sass/slick.css";

/*fonts*/
@font-face {
  font-family: Helvetica_CY_Bold;
  src: url(../fonts/Helvetica_CY_Bold.ttf);
}
@font-face {
  font-family: HandVetica;
  src: url(../fonts/HandVetica.ttf);
}

.clearfix{
  clear: both;
}

/*top content div with barrels img*/
.container-top{
  background: url("../images/background-top.jpg") center top no-repeat;
  background-size: cover;
  height: 868px;
  width: 100%;
}

/*header style*/
header{
  height: 156px;
  background: rgba(255, 255, 255, 0.15);
}

/*img logo left*/
.logo{
  margin: 7px 0 0 23px;
}

/*menu right button*/
.menu{
  float: right;
  margin: 63px 41px 0 0;
}

/*start subscribe*/
.subscribe{
  text-align: center;
    .game-logo{
      border: 1px dashed #000;
      border-radius: 25px;
      box-shadow: 10px 10px 10px black;

    }
    .sub-title{
      font-size: 36px;
      font-family: Helvetica, sans-serif;
      color: rgb( 244, 248, 244 );
    }
    .sub-input{
      margin: 0 auto;
    }
}


/*end subscribe*/

/*overlay containers style*/
.overlay{
  height: 60px;
  margin-top: 489px;
  z-index: 2;
  background: rgba(120, 153, 100, 0.25);
  padding-top: 20px;
}
/*app buttons*/
.app-load{
  float: right;
}
.app-load{
  li{
    display: inline;
    padding: 0 15px 10px 0;
  }
  .btn-load{
    border-radius: 7px;
  }
}

.bootleggers{
  font-family: HandVetica, sans-serif;
  font-size: 36px;
  color: #fff;
  margin: 25px 0 25px 115px;

}
.overlay-bot{
  background-color: #789964;
  width: 100%;
  height: 39px;
  position: absolute;
  margin-top: 781px;
  opacity: 0.75;
}

/*container-bottom style*/
.container-bottom{
  background: url("../images/background-galery.jpg") center top no-repeat;
  background-size: cover;
  height: 800px;
}

/*------------------------------------------------------*/

/*footer*/
footer{
  background-color: #00745c;
  text-align: center;
  font-size: 36px;
  font-family: Helvetica_CY_Bold, sans-serif;
  color: #f7fbfa;
    .contact{
      height: 302px;
      padding-top: 40px;
    }

    .contact-info{
      text-transform: uppercase;
      line-height: 2;
    }

    .contact-mail{
      text-decoration: none;
      color: #f7fbfa;
      padding-left: 165px;
    }

    .mail-logo{
      text-align: center;
      padding-top: 20px;
      padding-left: 55px;
    }

    .rights{
      font-family: Calibri, sans-serif;
      font-size: 30px;
      display: inline-block;
      width: 100%;
      height: 54px;
      padding-top: 16px;
      background-color: #789964;
    }
}
