/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica_CY_Bold.ttf);
}

.clearfix{
  clear: both;
}

/*top content div with barrels img*/
.container-top{
  background: url("../images/background-top.jpg") center top no-repeat;
  background-size: 100% 100%;
  height: 868px;
  width: 100%;
}

/*header style*/
header{
  height: 156px;
  /*background-color: #fff;*/
  /*opacity: 0.25;*/
}

/*img logo left*/
.logo{
  margin: 7px 0 0 23px;
}

/*menu right button*/
.menu{
  float: right;
  margin: 63px 41px 0 0;
}

/*overlay container style*/
.overlay{
  background-color: #789964;
  height: 164px;
  margin-top: 630px;
  z-index: 2;
  opacity: 0.25;
}

/*container-bottom style*/
.container-bottom{
  background: url("../images/background-galery.jpg") center top no-repeat;
  background-size: 100% 100%;
  height: 800px;
}

/*------------------------------------------------------*/

/*footer*/
footer{
  background-color: #00745c;
  text-align: center;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  color: #f7fbfa;
}
.contact{
  height: 352px;
}
.contact-info{
  text-transform: uppercase;
  line-height: 2;
}
.contact-mail{
 text-decoration: none;
 color: #f7fbfa;
 margin-right: 50px;
 margin-bottom: 44px;
}
.mail-logo{
 padding-top: 20px;
}
.rights{
 font-family: Calibri, sans-serif;
 font-size: 30px;
 display: inline-block;
 width: 100%;
 height: 54px;
 padding-top: 16px;
 background-color: #789964;
}