/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*fonts*/
@font-face {
  font-family: Helvetica_CY_Bold;
  src: url(../fonts/Helvetica_CY_Bold.ttf);
}
@font-face {
  font-family: HandVetica;
  src: url(../fonts/HandVetica.ttf);
}
/* line 16, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/*top content div with barrels img*/
/* line 21, ../sass/screen.scss */
.container-top {
  background: url("../images/background-top.jpg") center top no-repeat;
  background-size: cover;
  height: 868px;
  width: 100%;
}

/*header style*/
/* line 29, ../sass/screen.scss */
header {
  height: 156px;
  background: rgba(255, 255, 255, 0.15);
}

/*img logo left*/
/* line 35, ../sass/screen.scss */
.logo {
  margin: 7px 0 0 23px;
}

/*menu right button*/
/* line 40, ../sass/screen.scss */
.menu {
  float: right;
  margin: 63px 41px 0 0;
}

/*start subscribe*/
/* line 46, ../sass/screen.scss */
.subscribe {
  text-align: center;
  padding-top: 15%;
  max-width: 830px;
  width: 830px;
  position: relative;
  margin: 0 auto;
}
/* line 53, ../sass/screen.scss */
.subscribe .game-logo {
  border: 1px dashed #000;
  border-radius: 25px;
  box-shadow: 10px 10px 10px black;
  position: absolute;
  left: 0;
}
/* line 61, ../sass/screen.scss */
.subscribe .form-text {
  margin-left: 200px;
}
/* line 64, ../sass/screen.scss */
.subscribe .sub-title {
  display: block;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  color: #f4f8f4;
  padding-bottom: 8px;
  float: left;
  padding-left: 150px;
  font-weight: bold;
}
/* line 74, ../sass/screen.scss */
.subscribe .sub-input {
  margin-left: 14px;
  display: inline-block;
  float: left;
  padding-left: 60px;
}
/* line 80, ../sass/screen.scss */
.subscribe .inp-f {
  height: 52px;
  width: 360px;
  border: 0;
  background-color: rgba(244, 248, 244, 0.5);
  font-size: 20px;
  text-transform: uppercase;
}
/* line 88, ../sass/screen.scss */
.subscribe .sub-btn {
  height: 54px;
  border: 0;
  margin-left: -4px;
  font-family: Helvetica, sans-serif;
  color: #121312;
  text-align: center;
  background-color: #09876d;
  font-size: 20px;
}

/*end subscribe*/
/*overlay containers style*/
/* line 105, ../sass/screen.scss */
.overlay {
  position: relative;
  height: 65px;
  top: -65px;
  z-index: 2;
  background: rgba(120, 153, 100, 0.25);
}

/*app buttons*/
/* line 113, ../sass/screen.scss */
.app-load {
  float: right;
}
/* line 115, ../sass/screen.scss */
.app-load li {
  display: inline;
  padding: 0 2px 10px 0;
}
/* line 119, ../sass/screen.scss */
.app-load .btn-load {
  border-radius: 7px;
}

/* line 124, ../sass/screen.scss */
.bootleggers {
  display: inline-block;
  font-family: HandVetica, sans-serif;
  font-size: 36px;
  color: #fff;
  margin: 0 0 0 115px;
}

/* line 131, ../sass/screen.scss */
.overlay-bot {
  background-color: #789964;
  width: 100%;
  height: 39px;
  position: absolute;
  margin-top: -20px;
  opacity: 0.75;
}

/*container-bottom style*/
/* line 141, ../sass/screen.scss */
.container-bottom {
  background: url("../images/background-galery.jpg") center top no-repeat;
  background-size: cover;
  height: 800px;
}

/*------------------------------------------------------*/
/*footer*/
/* line 150, ../sass/screen.scss */
footer {
  background-color: #00745c;
  text-align: center;
  font-size: 36px;
  font-family: Helvetica_CY_Bold, sans-serif;
  color: #f7fbfa;
}
/* line 156, ../sass/screen.scss */
footer .contact {
  height: 302px;
  padding-top: 40px;
}
/* line 161, ../sass/screen.scss */
footer .contact-info {
  text-transform: uppercase;
  line-height: 2;
}
/* line 166, ../sass/screen.scss */
footer .contact-mail {
  text-decoration: none;
  color: #f7fbfa;
  padding-left: 165px;
}
/* line 172, ../sass/screen.scss */
footer .mail-logo {
  text-align: center;
  padding-top: 20px;
  padding-left: 55px;
}
/* line 178, ../sass/screen.scss */
footer .rights {
  font-family: Calibri, sans-serif;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  height: 46px;
  padding-top: 16px;
  background-color: #789964;
}

/*gallery style*/
/* line 190, ../sass/screen.scss */
.gallery {
  padding: 100px 200px;
}

/* line 194, ../sass/screen.scss */
.wrapper-gallery {
  max-width: 500px;
  padding-left: 150px;
}

/* line 199, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 204, ../sass/screen.scss */
.portfolio-thumb-slider .slick-slider-item {
  padding: 0 5px;
}

/* line 208, ../sass/screen.scss */
.portfolio-thumb-slider {
  margin: 0 -5px 5px -5px;
}

/* line 211, ../sass/screen.scss */
.portfolio-thumb-slider .slick-active {
  width: 550px;
}

/* line 214, ../sass/screen.scss */
.portfolio-thumb-slider .slick-active img {
  padding-top: 5px;
}

/* line 217, ../sass/screen.scss */
.portfolio-item-slider {
  border: 20px solid rgba(185, 188, 185, 0.6);
}

/* line 221, ../sass/screen.scss */
.portfolio-thumb-slider {
  background-color: rgba(72, 81, 72, 0.6);
  width: 515px;
  height: 80px;
}

/*screen res style*/
/*screen res 1024px style*/
@media screen and (max-width: 1075px) {
  /* line 231, ../sass/screen.scss */
  .slick-list.draggable {
    width: 800px;
  }

  /* line 234, ../sass/screen.scss */
  .wrapper-gallery {
    width: 400px;
    padding-left: 150px;
  }

  /* line 238, ../sass/screen.scss */
  .portfolio-item-slider {
    border: none;
  }

  /* line 241, ../sass/screen.scss */
  .wrapper-gallery {
    display: none;
  }

  /* line 244, ../sass/screen.scss */
  footer {
    font-size: 18px;
    max-height: 400px;
  }
}
/*screen res 768x1024px style*/
@media screen and (max-width: 768px) {
  /* line 252, ../sass/screen.scss */
  .portfolio-item-slider {
    border: none;
  }

  /* line 255, ../sass/screen.scss */
  .wrapper-gallery {
    display: none;
  }

  /* line 258, ../sass/screen.scss */
  .subscribe .game-logo {
    margin-left: 286px;
  }

  /* line 261, ../sass/screen.scss */
  .subscribe .sub-title {
    padding-left: 210px;
  }

  /* line 264, ../sass/screen.scss */
  .subscribe .sub-input {
    margin-left: 70px;
  }

  /* line 267, ../sass/screen.scss */
  .slick-list.draggable {
    width: 500px;
  }

  /* line 270, ../sass/screen.scss */
  .gallery {
    padding: 100px 0 100px 100px;
  }

  /* line 273, ../sass/screen.scss */
  .bootleggers {
    margin-left: 191px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  /* line 278, ../sass/screen.scss */
  .app-load li {
    display: inline;
    padding: 0 35px 10px 0;
  }

  /* line 282, ../sass/screen.scss */
  ul {
    margin-bottom: 60px;
  }

  /* line 285, ../sass/screen.scss */
  footer .rights {
    height: 23px;
    font-family: Calibri, sans-serif;
    font-size: 15px;
  }

  /* line 290, ../sass/screen.scss */
  footer .contact {
    height: 220px;
  }
}
/*screen res 380px style*/
@media screen and (max-width: 380px) {
  /* line 299, ../sass/screen.scss */
  .slick-list.draggable {
    width: 300px;
  }

  /* line 302, ../sass/screen.scss */
  .gallery {
    padding: 80px 33px;
  }

  /* line 305, ../sass/screen.scss */
  .portfolio-item-slider {
    display: none;
  }

  /* line 308, ../sass/screen.scss */
  .wrapper-gallery {
    display: none;
  }

  /* line 311, ../sass/screen.scss */
  footer {
    font-size: 18px;
    max-height: 100px;
  }
  /* line 312, ../sass/screen.scss */
  footer img {
    display: none;
  }

  /* line 318, ../sass/screen.scss */
  span .rights {
    font-size: 18px;
  }

  /* line 321, ../sass/screen.scss */
  footer .contact-mail {
    padding: 1px;
  }

  /* line 325, ../sass/screen.scss */
  .subscribe {
    padding-top: 10%;
    margin: -300px 0 0 125px;
  }
  /* line 328, ../sass/screen.scss */
  .subscribe .game-logo {
    padding: 10%;
  }
  /* line 332, ../sass/screen.scss */
  .subscribe .sub-title {
    font-size: 16px;
    padding: 55px 0 0 125px;
    margin: -125px 0 0 0;
    font-family: Helvetica, sans-serif;
    color: #f4f8f4;
  }
  /* line 339, ../sass/screen.scss */
  .subscribe .sub-input {
    margin-left: 14px;
    display: inline-block;
    float: left;
    padding-left: 45px;
  }
  /* line 345, ../sass/screen.scss */
  .subscribe .inp-f {
    height: 24px;
    width: 150px;
    border: 0;
    background-color: rgba(244, 248, 244, 0.5);
    font-size: 16px;
  }
  /* line 352, ../sass/screen.scss */
  .subscribe .sub-btn {
    height: 26px;
    border: 0;
    font-family: Helvetica, sans-serif;
    color: #121312;
    text-align: center;
    background-color: #09876d;
    font-size: 16px;
  }

  /* line 363, ../sass/screen.scss */
  .overlay {
    margin-top: 250px;
  }

  /* line 366, ../sass/screen.scss */
  .bootleggers {
    font-size: 26px;
    margin: 0 0 0 50px;
  }

  /* line 370, ../sass/screen.scss */
  .app-load {
    margin: 30px 0 0 110px;
  }

  /* line 373, ../sass/screen.scss */
  footer .contact {
    height: 50px;
    font-size: 12px;
  }

  /* line 377, ../sass/screen.scss */
  footer .contact-info {
    line-height: 0;
  }
}
