/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../stylesheets/normalize.css);
/*fonts*/
@font-face {
  font-family: Helvetica_CY_Bold;
  src: url(../fonts/Helvetica_CY_Bold.ttf);
}
@font-face {
  font-family: HandVetica;
  src: url(../fonts/HandVetica.ttf);
}
/* line 19, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/*top content div with barrels img*/
/* line 24, ../sass/screen.scss */
.container-top {
  background: url("../images/background-top.jpg") center top no-repeat;
  background-size: cover;
  height: 868px;
  width: 100%;
}

/*header style*/
/* line 32, ../sass/screen.scss */
header {
  height: 156px;
  background: rgba(255, 255, 255, 0.15);
  position: fixed;
  width: 100%;
}
/* line 37, ../sass/screen.scss */
header .link-logo {
  display: inline-block;
  height: 100%;
}
/* line 41, ../sass/screen.scss */
header .link-menu {
  display: inline-block;
  height: 100%;
  float: right;
}
/* line 46, ../sass/screen.scss */
header .logo {
  margin: 7px 0 0 23px;
  max-width: 100%;
  height: 100%;
}
/* line 51, ../sass/screen.scss */
header .menu {
  max-width: 100%;
  height: 50%;
  float: right;
  margin: 23px 41px 0 0;
}

/*start subscribe*/
/* line 61, ../sass/screen.scss */
.subscribe {
  text-align: center;
  padding-top: 15%;
  max-width: 830px;
  width: 830px;
  position: relative;
  margin: 0 auto;
}
/* line 68, ../sass/screen.scss */
.subscribe .game-logo {
  border: 1px dashed #000;
  border-radius: 25px;
  box-shadow: 10px 10px 10px black;
  position: absolute;
  left: 0;
}
/* line 76, ../sass/screen.scss */
.subscribe .form-text {
  margin-left: 150px;
}
/* line 80, ../sass/screen.scss */
.subscribe .sub-title {
  display: block;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  color: #f4f8f4;
  padding: 0 0 15px 150px;
  float: left;
  font-weight: bold;
}
/* line 89, ../sass/screen.scss */
.subscribe .sub-input {
  margin-left: 14px;
  display: inline-block;
  float: left;
  padding-left: 60px;
}
/* line 95, ../sass/screen.scss */
.subscribe .inp-f {
  height: 52px;
  width: 360px;
  border: 0;
  background-color: rgba(244, 248, 244, 0.5);
  font-size: 20px;
  text-transform: uppercase;
}
/* line 103, ../sass/screen.scss */
.subscribe .sub-btn {
  height: 54px;
  border: 0;
  margin-left: -4px;
  font-family: Helvetica, sans-serif;
  color: #121312;
  text-align: center;
  background-color: #09876d;
  font-size: 20px;
}

/*end subscribe*/
/*overlay containers style*/
/* line 120, ../sass/screen.scss */
.overlay {
  position: relative;
  height: 65px;
  top: -65px;
  background: rgba(120, 153, 100, 0.25);
}

/*app buttons*/
/* line 127, ../sass/screen.scss */
.app-load {
  float: right;
}
/* line 129, ../sass/screen.scss */
.app-load li {
  display: inline;
  padding: 0 2px 10px 0;
}
/* line 133, ../sass/screen.scss */
.app-load .btn-load {
  border-radius: 7px;
}

/* line 138, ../sass/screen.scss */
.bootleggers {
  display: inline-block;
  font-family: HandVetica, sans-serif;
  font-size: 36px;
  color: #fff;
  margin: 0 0 0 115px;
}

/* line 145, ../sass/screen.scss */
.overlay-bot {
  background-color: #789964;
  width: 100%;
  height: 39px;
  position: absolute;
  margin-top: -20px;
  opacity: 0.75;
}

/*container-bottom style*/
/* line 155, ../sass/screen.scss */
.container-bottom {
  background: url("../images/background-galery.jpg") center top no-repeat;
  background-size: cover;
  height: 800px;
}

/*------------------------------------------------------*/
/*footer*/
/* line 164, ../sass/screen.scss */
footer {
  background-color: #00745c;
  text-align: center;
  font-size: 36px;
  font-family: Helvetica_CY_Bold, sans-serif;
  color: #f7fbfa;
}
/* line 170, ../sass/screen.scss */
footer .contact {
  padding-top: 40px;
}
/* line 174, ../sass/screen.scss */
footer .contact-info {
  text-transform: uppercase;
  line-height: 2;
}
/* line 179, ../sass/screen.scss */
footer .contact-mail {
  text-decoration: none;
  color: #f7fbfa;
  padding-left: 165px;
}
/* line 185, ../sass/screen.scss */
footer .mail-logo {
  text-align: center;
  padding-top: 20px;
  padding-left: 55px;
}
/* line 191, ../sass/screen.scss */
footer .rights {
  font-family: Calibri, sans-serif;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  height: 46px;
  padding-top: 16px;
  background-color: #789964;
}

/*gallery style*/
/* line 203, ../sass/screen.scss */
.gallery {
  position: relative;
  margin: 0 auto;
  width: 850px;
}

/* line 211, ../sass/screen.scss */
.wrapper-gallery {
  max-width: 500px;
  padding-left: 20%;
}

/* line 216, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 222, ../sass/screen.scss */
.portfolio-thumb-slider .slick-slider-item {
  padding: 5px;
}

/* line 226, ../sass/screen.scss */
.portfolio-thumb-slider {
  margin: 0 -5px 5px -5px;
}

/* line 229, ../sass/screen.scss */
.portfolio-thumb-slider .slick-active {
  width: 550px;
  max-width: 550px;
}

/* line 236, ../sass/screen.scss */
.portfolio-item-slider {
  border: 20px solid rgba(185, 188, 185, 0.6);
  width: 850px;
  max-width: 850px;
}

/* line 242, ../sass/screen.scss */
.portfolio-thumb-slider {
  background-color: rgba(72, 81, 72, 0.6);
  width: 515px;
  height: 80px;
}

/*screen res 1075px style*/
@media screen and (max-width: 1075px) {
  /* line 253, ../sass/screen.scss */
  .bootleggers {
    display: block;
    margin: 0 0 20px 115px;
    text-align: center;
  }

  /* line 258, ../sass/screen.scss */
  .app-load {
    float: none;
    display: block;
    text-align: center;
  }

  /* line 263, ../sass/screen.scss */
  header {
    height: 80px;
  }
}
/*screen res 850 style*/
@media screen and (max-width: 850px) {
  /* line 270, ../sass/screen.scss */
  .portfolio-item-slider {
    border: 5px solid rgba(185, 188, 185, 0.6);
    width: 550px;
    max-width: 550px;
  }

  /* line 275, ../sass/screen.scss */
  .gallery {
    position: relative;
    margin: 0 auto;
    width: 555px;
  }

  /* line 280, ../sass/screen.scss */
  .wrapper-gallery {
    padding-left: 4%;
  }

  /* line 283, ../sass/screen.scss */
  header {
    height: 80px;
  }

  /* line 286, ../sass/screen.scss */
  footer {
    font-size: 28px;
  }
  /* line 288, ../sass/screen.scss */
  footer .rights {
    font-size: 20px;
  }
}
/*screen res 720px style*/
@media screen and (max-width: 720px) {
  /* line 299, ../sass/screen.scss */
  .subscribe {
    width: inherit;
  }
  /* line 301, ../sass/screen.scss */
  .subscribe .sub-input {
    padding-left: 0;
  }
  /* line 304, ../sass/screen.scss */
  .subscribe .game-logo {
    position: relative;
  }
  /* line 307, ../sass/screen.scss */
  .subscribe .form-text {
    margin-left: 30px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 550px) {
  /* line 316, ../sass/screen.scss */
  .subscribe .sub-title {
    padding-left: 90px;
  }

  /* line 320, ../sass/screen.scss */
  .portfolio-item-slider {
    border: 5px solid rgba(185, 188, 185, 0.6);
    width: 500px;
    max-width: 500px;
    margin-top: 90px;
    margin-left: 24px;
  }

  /* line 327, ../sass/screen.scss */
  .portfolio-thumb-slider {
    width: 518px;
    height: inherit;
  }

  /* line 332, ../sass/screen.scss */
  footer .contact-mail {
    padding-left: 0;
  }
}
@media screen and (max-width: 450px) {
  /* line 341, ../sass/screen.scss */
  .subscribe .game-logo {
    margin-top: 25px;
  }
  /* line 344, ../sass/screen.scss */
  .subscribe .sub-title {
    padding-left: 72px;
  }

  /* line 348, ../sass/screen.scss */
  .gallery {
    max-width: 100%;
  }

  /* line 351, ../sass/screen.scss */
  .portfolio-item-slider {
    width: 385px;
    margin-left: 33px;
  }

  /* line 355, ../sass/screen.scss */
  .portfolio-thumb-slider {
    width: 385px;
    height: inherit;
  }

  /* line 359, ../sass/screen.scss */
  .wrapper-gallery {
    padding-left: 40px;
    max-width: 385px;
  }

  /* line 363, ../sass/screen.scss */
  .bootleggers {
    margin-left: 0;
  }

  /* line 366, ../sass/screen.scss */
  footer {
    font-size: 20px;
  }
  /* line 368, ../sass/screen.scss */
  footer .rights {
    font-size: 16px;
  }
  /* line 371, ../sass/screen.scss */
  footer .mail-logo {
    padding-left: 15px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 375px) {
  /* line 381, ../sass/screen.scss */
  .subscribe .sub-title {
    padding-left: 38px;
  }
  /* line 384, ../sass/screen.scss */
  .subscribe .inp-f {
    width: 285px;
  }
  /* line 387, ../sass/screen.scss */
  .subscribe .game-logo {
    margin-left: 45px;
  }

  /* line 391, ../sass/screen.scss */
  ul {
    padding-left: 0;
  }

  /* line 394, ../sass/screen.scss */
  .gallery {
    max-width: 100%;
  }

  /* line 397, ../sass/screen.scss */
  .portfolio-item-slider {
    width: 320px;
    margin-left: 22px;
  }

  /* line 401, ../sass/screen.scss */
  .portfolio-thumb-slider {
    width: 320px;
    height: inherit;
  }

  /* line 405, ../sass/screen.scss */
  .wrapper-gallery {
    padding-left: 26px;
    max-width: 320px;
  }

  /* line 409, ../sass/screen.scss */
  footer {
    font-size: 16px;
  }
  /* line 411, ../sass/screen.scss */
  footer .rights {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 419, ../sass/screen.scss */
  .subscribe .sub-input {
    margin-left: 0;
  }
  /* line 422, ../sass/screen.scss */
  .subscribe .sub-title {
    padding-left: 12px;
  }
  /* line 425, ../sass/screen.scss */
  .subscribe .inp-f {
    width: 255px;
  }
  /* line 428, ../sass/screen.scss */
  .subscribe .game-logo {
    margin-left: 30px;
    margin-top: 60px;
  }

  /* line 433, ../sass/screen.scss */
  .bootleggers {
    font-size: 30px;
    margin-bottom: 35;
  }

  /* line 437, ../sass/screen.scss */
  .gallery {
    max-width: 100%;
  }

  /* line 440, ../sass/screen.scss */
  .portfolio-item-slider {
    width: 280px;
    margin-left: 22px;
  }

  /* line 444, ../sass/screen.scss */
  .portfolio-thumb-slider {
    width: 280px;
    height: inherit;
  }

  /* line 448, ../sass/screen.scss */
  .wrapper-gallery {
    padding-left: 26px;
    max-width: 280px;
  }
}
