/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*fonts*/
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica_CY_Bold.ttf);
}
@font-face {
  font-family: HandVetica;
  src: url(../fonts/HandVetica.ttf);
}
/* line 17, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/*top content div with barrels img*/
/* line 22, ../sass/screen.scss */
.container-top {
  background: url("../images/background-top.jpg") center top no-repeat;
  background-size: 100% 100%;
  height: 868px;
  width: 100%;
}

/*header style*/
/* line 30, ../sass/screen.scss */
header {
  height: 156px;
  /*background-color: #fff;*/
  /*opacity: 0.25;*/
}

/*img logo left*/
/* line 37, ../sass/screen.scss */
.logo {
  margin: 7px 0 0 23px;
}

/*menu right button*/
/* line 42, ../sass/screen.scss */
.menu {
  float: right;
  margin: 63px 41px 0 0;
}

/*overlay containers style*/
/* line 48, ../sass/screen.scss */
.overlay {
  background-color: #789964;
  height: 164px;
  margin-top: 630px;
  z-index: 2;
  opacity: 0.25;
}

/* line 55, ../sass/screen.scss */
.overlay-bot {
  background-color: #789964;
  width: 100%;
  height: 39px;
  position: absolute;
  margin-top: 781px;
  opacity: 0.75;
}

/*container-bottom style*/
/* line 65, ../sass/screen.scss */
.container-bottom {
  background: url("../images/background-galery.jpg") center top no-repeat;
  background-size: 100% 100%;
  height: 800px;
}

/*------------------------------------------------------*/
/*footer*/
/* line 74, ../sass/screen.scss */
footer {
  background-color: #00745c;
  text-align: center;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  color: #f7fbfa;
}

/* line 82, ../sass/screen.scss */
.contact {
  height: 302px;
  padding-top: 40px;
}

/* line 87, ../sass/screen.scss */
.contact-info {
  text-transform: uppercase;
  line-height: 2;
}

/* line 92, ../sass/screen.scss */
.contact-mail {
  text-decoration: none;
  color: #f7fbfa;
  padding-left: 165px;
}

/* line 98, ../sass/screen.scss */
.mail-logo {
  text-align: center;
  padding-top: 20px;
  padding-left: 55px;
}

/* line 104, ../sass/screen.scss */
.rights {
  font-family: Calibri, sans-serif;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  height: 54px;
  padding-top: 16px;
  background-color: #789964;
}
